:root {
  --layout-bg: #0a0a24;
  --text-rgb: 236, 235, 246;
  --white1: #ffffff;
  --violet1: #b7abff;
  --card-bg: #201e43;
  --widget-gradient-start: #868cff;
  --widget-gradient-end: #4318ff;
  --nav-text: #727190;
  --nav-selected-bg: #7e6bef0a;
  --tertiary-btn-bg: #8270eb33;
  --tertiary-btn-text: #cdc6f9;
  --secondary-btn-text: #444bf8;
  --primary-btn-bg: #5639ff;
  --fail: #f35077;
  --success: #05cd99;
  --pro-sub-bg: #05cd991c;
}

* {
  box-sizing: border-box;
  transition: all 0.3s linear;
}

button,
input,
select,
label {
  cursor: pointer;
}

img {
  max-width: 100%;
}
