:root {
  --layout-bg: #0a0a24;
  --text: 236, 235, 246;
  --white1: #ffffff;
  --violet1: #b7abff;
  --card-background: #201e43;
  --widget-gradient-start: #868cff;
  --widget-gradient-end: #4318ff;
  --nav-text-color: #727190;
  --nav-selected-color: 126, 107, 239;
  --tertiary-btn-bg: 130, 112, 235;
  --tertiary-btn-text: #cdc6f9;
  --secondary-btn-text: #444bf8;
  --primary-btn-bg: #5639ff;
  --fail: #f35077;
  --success: #05cd99;
  --pro-sub-bg: rgba(5, 205, 153, 0.11);
}

* {
  box-sizing: border-box;
  transition: all 0.3s linear;
}

button,
input,
select,
label {
  cursor: pointer;
}

img {
  max-width: 100%;
}
