@import url(./base.css);
@import url(./reset.css);
@import url(./components.css);
@import url(./layout.css);

html {
  font-size: 14px;
}

body {
  display: flex;
  color: rgba(var(--text), 1);
  background: var(--layout-bg);
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
