.layout {
  display: grid;
  grid-template-columns: 247px auto;
  grid-template-areas: "sidebar content";
  width: 100%;
}

.container {
  padding: 45px 38px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-column-gap: 37px;
  grid-row-gap: 15px;
  max-width: 1460px;
  margin: 0 auto;
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

@media (max-width: 1215px) {
  .container {
    display: block;
  }
}
@media (max-width: 887px) {
  .layout {
    display: block;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
}
